<ion-view view-title="Request Reservation">
<div class="bar bar-header">
        <button  style="background-color:transparent;color:#C8F7C5" class = "button icon ion-arrow-left-c" ng-click ="myGoBack()"></button>
        <!--<img class="duh" src="img/crops/budy1.png" height="30" alt=""></img>-->
      </div>
        <ion-content>

               <div style="background-color:#1E824C;margin-top:25px;">
                <img style="height: 120px;  width:120px;margin-left:35px; margin-top:19px;margin-bottom:15px;float:left" src="img/crops/reser.png">
                <br><br>
                <p style="font-size:25px;margin-top:25px;vertical-alignment:middle;margin-left:18px;float:left;color:#2E7D32">Accepted<br>Reservations</p>
               </div>    
              

               <div class='row' ng-repeat='reservation in acceptedreservations' ng-hide='reveal'>             	
               		 <div>
               			<div style="background-color:#4CAF50;color:#DCEDC8">
                          <center>                                 
                           <i style="color:#DCEDC8;" class="icon ion-person placeholder-icon"></i>
                           Transaction Info<br><br/>
                           </center>
                      </div>
                          <div ng-if='reservation.seller' class='ng-show'>
                              <p style="text-align: center;"><a ui-sref="selectedBuddy({buddyID: reservation.cropsellerid})"><b>{{reservation.cropseller}}</b></a> has accepted your offer for his/her <b>{{reservation.cropname}}</b>!</p>
                                 
                              <p style="background-color:#F1F8E9;">
                              Your Offer:<br/>  ₱{{reservation.arbuyeroffer}} <br/>
                              Message to Seller:<br/> {{reservation.arbuyermessage}}<br/>                           			
                              </p>
                          </div>

                          <div ng-if='reservation.buyer' class='ng-show'>
                              <p style="text-align: center;">You have accepted <a ui-sref="selectedBuddy({buddyID: reservation.arbuyerid})"><b>{{reservation.arbuyername}}</b></a>'s' offer for your 
                              <b>{{reservation.cropname}}</b></p>
                                 
                              <p style="background-color:#F1F8E9;">
                              Buyer Offer:<br/>  ₱{{reservation.arbuyeroffer}} <br/>
                              Buyer's Message:<br/> {{reservation.arbuyermessage}}<br/>                                 
                              </p>
                          </div>                          


                            <center><button class="button button-small button-balanced" ng-click='showcrop(reservation)'>Show Crop Info</button></center> 

                            <div style="background-color:#E6EE9C;">
                              	A notification will be sent to both parties once there is less than a 
                              	month before harvest date. This will then be removed by the time
                              	harvest date is due.    	
                            </div>		     
               		</div>

               </div>
              
								 <div ng-show='wew'>
                 <center>
                
                 <h1 style="margin-top:140px;color:#C0C0C0;font-size:1.3em"> <br/><br/>You haven't accepted <br/>any request yet.</h1>
                </div>  
                </center>

        </ion-content>
</ion-view>