<ion-view view-title="Reservation Menu">
        <ion-content>
        <center>
        <div style="background-color:#1E824C;margin-top:43px;height:190px">
        	 <img style="height: 150px;  width:150px;margin-left:35px; margin-top:15px;margin-bottom:15px;float:left" src="img/crops/Reserveringen_FMInsight_icon-300x288.png">
        	 <br><br>
        	 <p style="font-size:25px;margin-top:25px;vertical-alignment:middle;margin-left:20px;text-align:left;color:  
#bbc9a2">Crop</p>
        	 <p style="font-size:25px;vertical-alignment:middle;margin-left:20px;text-align:left;color:  
#bbc9a2">Reservation</p>
		</div>	

	          <button class="button button-large button-block" style="border: 1px solid #ace278;border-radius:3px;height:85px;font-size:18px;width:90%;background-color:#FAFAFA;color:#5ea44c;" ui-sref="myreservationrequest">
	          	<i style="color:#67b353" class="icon ion-leaf placeholder-icon"></i>
	                My Reservation Requests
	          </button>           
               <button class="button button-large button-block" style="border: 1px solid #ace278;border-radius:3px;font-size:18px;height:85px;width:90%;background-color:#FAFAFA;color:#5ea44c" ui-sref="acceptedreservation">
               	<i style="color:#67b353" class="icon ion-checkmark-round placeholder-icon"></i>
                    Accepted Reservations
              </button> 
              <!-- ge tuyo ko ning space dri-->
              <br>   
		      <button  class="button button-large button-block" style="border: 1px solid #ace278;border-radius:3px;font-size:18px;height:85px;width:90%;background-color:#FAFAFA;color:#A84410" ui-sref="reservationrequest">
		      	<i style="color:#A84410;" class="icon ion-email-unread placeholder-icon" ></i>
		  			Reservation Offers 
			  </button>


			    

         

						

		          
		</center>
        </ion-content>
</ion-view>