
<ion-view view-title="Add A Crop">
<div class="bar bar-header">
        <button  style="background-color:transparent;color:#C8F7C5" class = "button icon ion-arrow-left-c" ui-sref="myfarmcrop"></button>
        
        </div>
        <ion-content >
               <h3 style="color:#81C784;text-align: center;margin-top:60px;">Please fill up the<br/> Following</h3>
               <center>
					<div style="margin-top:25px">

										<label class="item item-input" style="width:99%">
										 <p style="text-align:left">Crop Name:</p>
									   
									    <select style="margin-left: 10px;width:165px;" ng-model='mycrop.name'>
									      <option>Corn</option>     <option>Carrots</option>     <option>Potatoes</option>     <option>Squash</option>
									      <option>Rice</option>     <option>Pineapple</option>     <option>Sugarcane</option>     <option>Eggplant</option>
									      <option>Tomatoes</option>     <option>Ginger</option>     <option>Coconut</option>     <option>Cassava</option>
									    </select>
									  </label>
								

						
					            <label  class="item item-input item-stacked-label" >
					            <p style="text-align:left">Crop/Farm Location</p>

					             <input style="width:96%;margin-right:10px;background-color:#f2ffe6" type="text" placeholder="Crop Location" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>


					            <!--<input type="text" placeholder="Location" ng-model='mycrop.location'>-->

					          </label>

					          	<!-- <input type="checkbox" />Use my farm-->

					          	 <label class="item item-input item-stacked-label">
					          	 <p style="text-align:left">Number Of Hectare</p>
					            <input type="Number" placeholder="Hectars" ng-model='mycrop.hectars'>
					          </label>
								
					
			 					<label class="item item-input item-stacked-label">
			 					<p style="text-align:left">Date Planted</p>	

					            <input  type="date" placeholder="Date Planted" ng-model='mycrop.plantdate' >
					        
					          </label>					          
					         

					          
			 					<label class="item item-input item-stacked-label">
			 					<p style="text-align:left">Estimated Harvest Date</p>
					            <input type="date" placeholder="Estimated Harvesting Date" ng-model='mycrop.harvestdate'">
					          </label>
					          		
					   
			 					<label class="item item-input item-stacked-label">
			 					<p style="text-align:left">Additional Information for {{mycrop.name}}</p>
					             <textarea style="width:96%;margin-right:10px" placeholder="Please specify here how you want to price your crops e.g (per sack)" ="Text1" cols="40" rows="5" ng-model='mycrop.info'></textarea><br/>
					          </label>
					          		<br/>

					          <center><button class="button buttonCreate" ng-click='confirm(mycrop.name,mycrop.hectars,mycrop.plantdate,mycrop.harvestdate,mycrop.info)'>Submit</button></center>

		          </div>

        </ion-content>
</ion-view>