
<ion-view view-title="Search">
<div class="bar bar-header">
        <button  style="background-color:transparent;color:#C8F7C5" class = "button icon ion-home" ng-click ="myGoBack()"></button>
        <!--<img class="duh" src="img/crops/budy1.png" height="30" alt=""></img>-->
      </div> 

        <ion-content class="padding1">
        
          <h4 class=" kolay" style="text-align: center;margin-top:70px">What do you want to search ?</h4><br/>
      		<center>     
		      		 <p class="animated fadeInDown">
		            <a class="button buttonMenu" ui-sref="searchBuddy">
		              <img class="duh" style="margin-right:14px;" src="img/crops/buddy.png" height="55" alt="" >     
		            </a>
		          </p>
		          <p class="animated fadeInDown">
		            <a class="button buttonMenu"  ui-sref="searchCrop">
		              <img class="duh" src="img/crops/crop.png" height="55" alt=""></img>

		              </a>
		          </p>
		          <br/>
      		</center>
      		
        </ion-content>
</ion-view>
