      <ion-view view-title="Farm Buddy">  
      <ion-content >
            <div class="animated fadeIn">
               <center>
                <img src="img/orgi.png" width="185" height="185" style="margin-top:45px"></img>
              </center>
              </div>
                <br>
                <div class="animated fadeIn">
                <center>
                  <p style="font-size:15px;margin-top:10px;"> A Farm Crop Marketing System</p>
                </center>
              </div>
              <div class="animated fadeInDown">
                <center>
                <div class="list list-inset">
                <a class="button buttonCreate" href="#/create">CREATE NEW ACCOUNT</a></a>

                <a class="button buttonSignin" style="color:white" href="#/signin">SIGN IN</a>
                </div>
                 </center>
               </div>
     




       
      </ion-content>
      </ion-view>
