
<ion-view view-title="map">
<div class="bar bar-header">
	   <button  style="background-color:transparent;color:#C8F7C5" class = "button icon ion-arrow-left-c" ui-sref='home.menu'></button>
	   <p style="margin: auto;font-size: 1em;color:white;padding-right: 25px">Crop Map</p>
</div>
       <ion-content style="background-color:#f2ffe6">
     	<div >	     
		          <br/><br/>
		          <center  style="background-color:#C8F7C5;margin-top:4px;padding-bottom:10px">
		              <select style="width:165px;" ng-model='crop'>     
		              								<option value="" disabled selected>Select a Crop</option>    					
											      <option>Corn</option>     <option>Carrots</option>     <option>Potatoes</option>     <option>Squash</option>
											      <option>Rice</option>     <option>Pineapple</option>     <option>Sugarcane</option>     <option>Eggplant</option>
											      <option>Tomatoes</option>     <option>Ginger</option>     <option>Coconut</option>     <option>Cassava</option>
					  </select>
					  <button style="border-radius:50px;background-color:white;width:150px;height:35px;color:#1E824C;margin-top:10px" ng-click='cropSelected(crop)'>SEARCH</button>
		          	  
		          </center>
		          <div><br/>
		               <div id="map" style="width:90%;height:430px;background-color: gray;margin: auto;border:solid;border-color: #C8F7C5;border-width: 10px"></div>
		          </div>
		          <center><br/>
		          	 <button style="background-color:#556566" class="button button-balanced" ng-show='roadmap'  ng-click='toogle()'>
		          		<i style="color:#67b353" class="icon ion-ios-world placeholder-icon"></i>	
		          	SATELLITE VIEW</button>
		          <button style="background-color:#556566" class="button button-balanced" ng-hide='satellite' ng-click='toogle()'>
<i style="color:#67b353" class="icon ion-ios-world-outline placeholder-icon"></i>	
		          	ROADMAP VIEW</button>
		         
		          </center>
        	</div>  	
        </ion-content>
</ion-view>