
<ion-view view-title="Welcome">
        <ion-content >
        <div style="padding-top: 67px;margin:0px auto; text-align:center;height: 270px;background-color:#1E824C;">
          <img style="opacity:1px;" src="img/orgi1.png" height="170" alt="" >   
        </div>
        <center>
        <!-- <div class="space" ></div> -->

         <p>
            <a class="button buttonMenu12" ui-sref="myfarmcrop">
              <img src="img/crops/4.png" height="55" alt="" >    
            </a>

            <a class="button buttonMenu12"  ui-sref="search">
              <img src="img/crops/2.png" height="55" alt=""></img>

            </a>
            <a class="button buttonMenu12"  ui-sref="cropMap">
              <img class="duh" src="img/crops/3.png" height="55" alt=""></img>
              </a>

            <a class="button buttonMenu12"  ui-sref="home.menu">
              <img class="duh" src="img/crops/1.png" height="55" alt=""></img>
              </a>
          </p> 

        </center>
        </ion-content>
</ion-view>
